/* auth.css */

/* Estilos para el Footer */
footer {
  background-color: #343a40; /* Color de fondo oscuro */
  color: #fff; /* Texto blanco */
  padding: 2rem 0; /* Espaciado arriba y abajo */
}

footer .container {
  max-width: 1140px;
  margin: 0 auto;
}

footer .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .col-md-4 {
  flex: 1;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 1rem;
}

footer h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin: 10px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #28a745; /* Color verde al pasar el ratón */
}

footer .social-icons {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

footer .social-icons a {
  color: #fff;
  margin: 0 15px;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

footer .social-icons a:hover {
  color: #28a745; /* Verde al pasar el ratón */
}

footer p {
  font-size: 0.9rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  footer .col-md-4 {
    flex: 1 1 100%; /* Asegura que cada columna ocupe el 100% en pantallas pequeñas */
    text-align: center;
  }

  footer .social-icons {
    justify-content: center;
    margin: 20px 0;
  }

  footer .social-icons a {
    font-size: 1.8rem;
  }

  footer h5 {
    font-size: 1rem; /* Reducir el tamaño de los títulos en pantallas pequeñas */
  }

  footer p {
    font-size: 1rem; /* Aumentar el tamaño de la fuente en pantallas pequeñas */
  }

  footer .row {
    display: block; /* Cambiar a bloque para apilar los elementos verticalmente */
  }
}
