/* Estilos para la imagen del carrusel Blog */
#carouselFloresta .custom-image {
  max-height: 500px;
  object-fit: cover;
  width: 50%;
}

/* Estilos para el contenedor de texto (caption) del Blog */
#carouselFloresta .custom-caption {
  position: relative;
  top: 10px;
  left: 0;
  width: 80% !important;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  border-radius: 5px;
  padding: 15px;
}


/* Estilo del título */
#carouselFloresta .custom-caption h5 {
  font-size: 2rem;
  color: #013708;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

/* Estilo del texto */
#carouselFloresta .custom-caption p {
  font-size: 1.3rem;
  color: #013708;
  margin: 0;
}

/* Fondo negro en los botones */
.carousel-control-prev,
.carousel-control-next {
  background-color: black; /* color de fondo */
  border-radius: 50%;       /* opcional: que sea un círculo */
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-80%);
}

/* Mejorar visibilidad del ícono */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* invierte el ícono blanco si el fondo es negro */
}




/* Diseño responsivo para tablets */
@media (max-width: 768px) {
  #carouselFloresta .custom-image {
    max-height: 300px;
    width: 70%;
  }
  #carouselFloresta .custom-caption {
    width: 70%;
    top: 5px;
    padding: 10px;
  }
  #carouselFloresta .custom-caption h5 {
    font-size: 1.5rem;
  }
  #carouselFloresta .custom-caption p {
    font-size: 1rem;
  }
}

/* Diseño responsivo para móviles */
@media (max-width: 576px) {
  #carouselFloresta .custom-image {
    max-height: 250px;
    width: 90%;
  }
  #carouselFloresta .custom-caption {
    width: 90%;
    padding: 8px;
  }
  #carouselFloresta .custom-caption h5 {
    font-size: 1.2rem;
  }
  #carouselFloresta .custom-caption p {
    font-size: 0.9rem;
  }
}
